:root {
    ::-webkit-scrollbar{
        display: none;
    }
  /* Primary Brand Colors */
  --primary-gradient: linear-gradient(135deg, #fff9e8 0%, #faf3e0 100%);
    --primary-button-gradient: linear-gradient(135deg, #70ec76 0%, #1c8f22 100%);
--primary-button-hover-gradient: linear-gradient(135deg, #55c05b 0%, #25a32b 100%);
 --background-card-color:linear-gradient(145deg, #ebe3b8 0%, #f5e9c0 100%) ;
--text-button-color-gradient:linear-gradient(145deg, #f5c56c 0%, #f5e9c0 100%);



  --primary-color: #2b611a;
  --primary-dark: #316435;
  --text-card-Name-primary : black;
--text-price-color-primary :rgb(223, 16, 16);
  /* Accent Colors */
  --accent-gold: #fbbf24;
  --accent-red: #ff4757;
  --success-green: #0f8a3f;
  
  /* Neutral Colors */
  --background-white: rgb(30, 80, 25);
  --background-light: #f9fafb;
  --background-dark: #1f2937;
  
  /* Text Colors */
  --text-primary: #ffffff;
  --text-secondary: #6b7280;
  --text-light: #9ca3af;
  --text-white: #0b0b0c;
  
  /* Border Colors */
  --border-light: #faba5b;
  --border-medium: #d1d5db;
  
  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 8px 16px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 20px 40px rgba(0, 0, 0, 0.15);
  --shadow-xl: 0 25px 50px rgba(0, 0, 0, 0.2);
  
  /* Transitions */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.5s ease;
  
  /* Border Radius */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-full: 50%;
}
